@import "scss/variables";
@import "scss/reset";

canvas {
  background-color: $background-primary;
  cursor: pointer;
}

.container {
  width: 640px;
  margin: 0 auto;
  background: #ccc;
  border: 10px solid #ddd;
}

.capture-button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: #fff;
  text-align: center;
  cursor: pointer;
}