@import "scss/reset";
@import "scss/local";
@import "scss/variables";
@import "scss/font-awesome.scss";

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  position: relative;
}

.border-style {
  border: 10px solid $border-default;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#camera,
#capturedImage {
  @extend .border-style;
}

#capturedImage {
  position: absolute;
  left: (480 - 180) / (2 * 480) * 100%;
  bottom: -75px;
  text-align: center;
  display: block;
}

.pattern {
  position: absolute;
  left: 10px;
}

.control {
  position: absolute;
  right: 10px;
}

.button {
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  color: $default;
  border-radius: 50%;
  text-align: center;
  background-color: $background-default;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: $background-secondary;
}

.name {
  position: absolute;
  text-align: center;
}

.name input {
  height: 30px;
  width: 580px;
  padding: 20px;
  font-size: 28pt;
  text-align: center;
  border-radius: 10px;
  display: none;
}
